<!DOCTYPE html>
<html lang="${lang}">
	<head>
		<meta charset="utf-8" />
		<title>LegacyClonk Docs</title>
		<link rel="stylesheet" href="doku.css">
		<style>
			label {
				margin: 0;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			ul ul, ul li {
				margin-left: 1em;
			}
			ul h1, ul h2, ul h3, ul h4, ul h5, ul h6 {
				font-size: 100%;
				font-weight: bold;
				font-style: normal;
				margin: 0;
				border: none;
				padding: 0;
			}
			ul a, ul a.visited {
				color: navy; 
				text-decoration: none;  
			}
		</style>
	</head>
	<body>
		<header><%include file="navbar-snippet-${lang}.html" /></header>
		
		<h1>${i18n['contents']}</h1>
		<ul id="folders"></ul>
		
		<script src="content.js"></script>
	</body>
</html>
