<!-- https://stackoverflow.com/questions/5976343/insert-external-file-content-as-html-through-xslt -->

<ul class="nav">
	<li class="fineprint">Clonk Entwicklermodus Dokumentation</li>
	<li class="switchlang"><a href="../en/content.html"><img src="/deco/dco_en_sml.gif" alt="English" border="0"></a></li>
	<li><a href="../../sdk/index.html">Einleitung</a></li>
	<li><a href="../../content.html">Inhalt</a></li>
	<li><a href="../../search.php">Suche</a></li>
	<li><a href="../../sdk/console.html">Engine</a></li>
	<li><a href="../../sdk/cmdline.html">Kommandozeile</a></li>
	<li><a href="../../sdk/files.html">Spieldaten</a></li>
	<li><a href="../../sdk/script/index.html">Script</a></li>
</ul>
