<ul class="nav">
	<li class="fineprint">Clonk Developer Mode Documentation</li>
	<li class="switchlang"><a href="javascript:switchLanguage()"><img src="/deco/dco_de_sml.gif" alt="German" border="0"/></a></li>
	<li><a href="sdk/index.html">Introduction</a></li>
	<li><a href="content.html">Contents</a></li>
	<li><a href="search.php">Search</a></li>
	<li><a href="sdk/console.html">Engine</a></li>
	<li><a href="sdk/cmdline.html">Command Line</a></li>
	<li><a href="sdk/files.html">Game Data</a></li>
	<li><a href="sdk/script/index.html">Script</a></li>
</ul>
